@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Source+Code+Pro:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(88, 88, 88);
  font-family: 'Josefin Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(../img/texture.jpg);
  background-attachment: fixed;
}

h1,
h2 {
  font-size: 45px;
  font-weight: 600;
}

h3 {
  padding-top: 30px;
  font-size: 30px;
}

p {
  font-weight: 600;
}

a {
  text-decoration: none;
}

.icon_nav:hover,
.a_nav:hover {
  opacity: 0.8;
}

nav {
  z-index: 10;
  background-color: rgb(88, 88, 88);
  height: 7vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
nav > a{
  color: #d5cab5;
  font-size: 1.2rem;
  font-weight: bolder;
}
nav > a:hover{
  border-bottom: 4px solid #d5cab5;
}
header{
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.networks{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.networks-menu{
  display: flex;
  align-items: center;

}
.net-link{
  margin-right: 3vh;
  margin-left: 3vh;
}
.homepage{
  font-family: 'Josefin Sans', sans-serif;
  margin-right: 20vh;
  margin-left: 10vh;
}
.img_homepage{
  height: 80vh;
}
.name{
  display: flex;
  flex-direction: column;
}
.firstname{
  font-family: 'Josefin Sans', sans-serif;
  margin-bottom: 3vh;
  
}
.dev-web{
  font-family: 'Josefin Sans', sans-serif;
  background-color: rgba(213, 202, 181, 0.4);
  margin-bottom: 5vh;
}
#modal-mobile{
  display: none;
}
.menu_modal {
  display: none;
}
.boule{
  position: absolute;
}
.boule-1{
  display: block;
  right: 5vh;
  height: 70vh;
}
.boule-2{
  right: 45%;
  height: 45vh;
}
.boule-3{
  right: 15%;
  height: 35vh;
}
.boule-4{
  display: block;
  left: 4vh;
  height: 60vh;
}
.boule-5{
  left: 20%;
  height: 25vh;
}
@media all and (max-width: 1220px) {
  .boule-4{
    display: none;
  }
}

@media all and (max-width: 1000px) {
  .boule-1{
    display: none;
  }
  h1,
  h2 {
    font-size: 35px;
  }
}

@media all and (max-width: 700px) {
  header{
    flex-direction: column;
    height: 100%;
  }
  nav{
    display: none;
  }
  .homepage{
    margin-top: 15%;
    margin-right: 0;
    margin-left: 0;

  }
  .img_homepage{
    height: 55vh;
  }
  .name{
    align-items: center;
    justify-content: center;
  }
  h1,
h2 {
  font-size: 35px;
}
.net-link{
  margin-right: 0;
  margin-left: 0;
}
.boule-2, .boule-3, .boule-5{
  display: none;
}
.dev-web{
  margin-bottom: 0;
}
.networks{
  display: none;
}

.menu_modal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10%;
  padding-left: 10%;
  bottom: 0;
  z-index: 120;
  position: fixed;
  background-color: rgb(88, 88, 88);
  padding-top: 3%;
  width: 100%;
  padding-bottom: 1%;
}
.nav_modal {
  position: fixed;
  background-color: rgb(88, 88, 88);
  height: 20vh;
  z-index: 120;
  display: flex;
  align-items: center;
  justify-content: center;
}
#nav_menu{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#nav_menu a{
  color: #d5cab5;
  font-size: 1.3rem;
  font-weight: 600;
}
.home-link{
  margin-left: 20%;
}
.home-link:hover{
  border-bottom: none;
}
}
/********* PARCOURS - CARD ***************/
.h2_parcours {
  padding-top: 8vh;
  text-align: center;
  margin-top: 100px;
}
#parcours hr{
  border-bottom: none;
}
.date_bilan {
  font-size: 25px;
}

.link_parcours>em:hover {
  color: rgba(88, 88, 88, 0.4);
}

.text_card {
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 70px;
}
.text_card > p{
  font-size: 1.2rem;
}
.text_card > ul > li{
  font-size: 1.2rem;
}

.card {
  border-radius: 5px;
  top: 20%;
  width: 350px;
  height: 500px;
  perspective: 500px;
}

.content {
  border-radius: 5px;
  position: fixed;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover .content {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.front,
.back {
  border-radius: 5px;
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(213, 202, 181, 0.4);
  text-align: center;
  backface-visibility: hidden;
}

.back {
  border-radius: 5px;
  background: rgba(213, 202, 181, 0.4);
  transform: rotateY(180deg);
}

#all_card,
.card {
  border-radius: 5px;
  margin: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}
#all_card_path{
  border-radius: 5px;
  margin: 50px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.img_montre {
  padding-top: 50px;
}

.img_dev {
  padding-top: 50px;
}
.card_mobile{
  display: none;
}

@media all and (max-width: 700px) {

  #all_card,
  .card {
    margin: 0;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  #all_card_path{
    margin: 0;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .text_card{
    padding-top: 20px;
  }
  .card_parcours{
    display: none;
  }
  .date_bilan_mobile{
    padding-top: 0;
  }
  .date_bilan_mobile2{
    padding-top: 20;
  }
  .card_mobile{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 5px;
    top: 20%;
    width: 350px;
    height: 500px;
    background-color: rgba(213, 202, 181, 0.4);
    text-align: center;
  }
  .img_dev{
    padding: 0;
  }
  .text_card_bilan{
    padding-bottom: 70px;
  }
  .h2_parcours{
    margin-bottom: 50px;
  }
}

/********* FIN PARCOURS***************/

/********* COMPETENCES***************/
.h2_compétences {
  padding-top: 8vh;
  text-align: center;
  margin-top: 100px;
  padding-bottom: 100px;
}

.h3_comp {
  padding-bottom: 50px;
}

.h3_collaboration {
  padding-bottom: 20px;
}

.contenu_comp {
  font-weight: 600;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: baseline;
  align-content: stretch;
}

.comp_div {
  background-color: rgba(213, 202, 181, 0.4);
  width: 220px;
  height: 570px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
}

.comp_div_content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: stretch;
}

.span_comp {
  padding-bottom: 5px;
}

.span_comp_langages {
  padding-top: 10px;
  padding-bottom: 20px;
}

.span_comp_outils {
  padding-top: 10px;
  padding-bottom: 20px;
}

@media all and (max-width: 700px) {
  .contenu_comp {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
  }

  .comp_div {
    margin-bottom: 50px;
  }
}


/******************* REALISATIONS ******************************/
.h2_realisations {
  padding-top: 8vh;
  text-align: center;
  margin-top: 100px;
}

.realisations_card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  align-content: center;
}

ul,
li {
  list-style: none;
}

.date_realisation {
  font-size: 25px;
  font-style: italic;
  font-weight: 400;
}

.img_cv {
  margin-top: 50px;
}

.link_site {
  font-size: 20px;
  font-weight: bolder;
  color: #757575;
}

.link_site:hover {
  opacity: 0.8;
  color: rgba(88, 88, 88, 0.4);
}
@media all and (max-width: 700px) {
  .card_mobile_realisations{
    height: 850px;
  }
  .realisations_card{
    display: none;
  }
  .h2_realisations{
    margin-bottom: 50px;
  }
}


/******************* A PROPOS ******************************/
#a_propos {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.h2_apropos {
  padding-top: 8vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin-bottom: 50px;
}

.apropos_mail:hover {
  color: #d5cab5;
}

.hr_apropos {
  height: 400px;
}

@media all and (max-width: 700px) {
  .hr_apropos {
    display: none;
  }
}

.row_li {
  font-size: 20px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

/******************* MODAL SKATE VIDEO ******************************/

#skate:hover {
  color: #d5cab5;
  cursor: pointer;
}

#modal-skate {
  display: none;
}